/* Carrinho de Compras Stylization */

.divTituloCarrinhoCompras {
    width: 350px;
}

.tituloCarrinhoCompras{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: var(--brand1);
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    padding: 20px;
    margin-bottom: 10px;
}

.divProdutosEscolhids{
    height: 55%;
    width: 52%;
    margin-left: 2px;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 250px 250px;
    overflow-x: visible;
}

.paragrafoNoCarrinhoVazio {
    margin: 0 auto;
    font-size: 25px;
}

.divCheckOut{
    height: 50px;
    width: 50%;
    background-color: var(--brand1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.containerNoCarrinho {
    height: 200px;
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
}

.imgProdutoCarrinho{
    height: 100px;
    width: 150px;
}

.precoProdutoCarrinho{
    font-size: 15px;
    font-weight: bold;
}

.botaoRemoverProdutoCarrinho{
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    background-color: var(--brand1);
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.botaoRemoverProdutoCarrinho:hover{
    background-color: orangered;
}

#idBtnCheckOut{
    height: 60px;
    width: 53%;
    margin-left: 1px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--brand2);
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    
}

#idBtnCheckOut:hover{
    background-color: orangered;
    
}

.tiraDaTela {
    display: none;
}
